*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right bottom, #dca7a7, #843939, #e3c8cc, #40090c, #eceee7);    background-repeat: no-repeat;
    background-size: cover; 

}
.container{
    background-color: rgb(124, 69, 73);
    color: white;
    border-radius: 20px;
   
    padding: 10px;
    text-align: center;
}
.temperatureContainer{
    background-color: rgb(124, 69, 73);
    color: white;
    border-radius: 20px;
   
    padding: 10px;
    text-align: center;

}
.temperatureContainer select{
    border: none;
    border-radius: 10px;
    padding: 10px;

}
.temperatureContainer input{
    font-size: 25px;
    text-align: right;
    border: none;
    background: transparent;
    color: white;

}
.temperatureContainer span{
    font-size: 25px;
    color: white;
}
input:focus,
select:focus{
    outline: none;
}